@import "../../../assets/styles/variables";

:host {

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
  }

  span {
    background-color: $sxp-color-green-300;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    font-size: 0.7rem;
    border-radius: 0.5rem;
  }

  input {
    display: none;
  }

  input:checked + span {
    background: $sxp-color-green-600;
  }
}
