@import "../../../assets/styles/variables";

@keyframes slideInFromLeft {
  0% {
    transform: scale(0.2, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.program-list-component {
  max-height: calc(100vh - 8rem);
  overflow: auto;
}

.program-list-item {
  animation: slideInFromLeft 2s forwards;
}

.card-image {
  background: $sxp-color-body;
  padding: 1rem;
  border: 10px solid $sxp-color-white;
}

.program-item-value {
  font-weight: 400;
}

:host {
  ::ng-deep {

    .p-card .p-card-body {
      padding: 0 1rem;
    }

    .p-card .p-card-content {
      padding: 0.5rem 0 1rem 0;
    }

  }
}
